<!DOCTYPE html>

<html dir="ltr" lang="en-us">
<head>
    <title>Interactive Story: Don't Shoot</title>
    <link href="/static/css/base.css" rel="stylesheet">

    <link href="/static/css/dark_mode.css" rel="stylesheet">


    <link href="/static/css/nav_sidebar.css" rel="stylesheet">
    <script defer src="/static/js/nav_sidebar.js"></script>

    <link href="/static/css/login.css" rel="stylesheet">


    <meta content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <link href="/static/css/responsive.css" rel="stylesheet">


    <meta content="NONE,NOARCHIVE" name="robots">
</head>

<body class=" login"
      data-admin-utc-offset="0">

<!-- Container -->
<div id="container">


    <!-- Header -->

    <div id="header">
        <div id="branding">

            <h1 id="site-name"><a href="">Don't Shoot</a></h1>

        </div>
    </div>

    <!-- END Header -->


    <div class="main" id="main">


        <div class="content">


            <!-- Content -->
            <div class="colM" id="content">


                <div id="content-main">
                    <p> Thanks for playing.</p>

                </div>


                <br class="clear">
            </div>
            <!-- END Content -->
            <div id="footer"></div>
        </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
