<!DOCTYPE html>

<html lang="en-us" dir="ltr">
<head>
<title>Interactive Story: Don't Shoot</title>
<link rel="stylesheet" href="/static/css/base.css">

  <link rel="stylesheet" href="/static/css/dark_mode.css">


  <link rel="stylesheet" href="/static/css/nav_sidebar.css">
  <script src="/static/js/nav_sidebar.js" defer></script>

<link rel="stylesheet" href="/static/css/login.css">





    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/css/responsive.css">


<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" login"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">


    <!-- Header -->

    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="">Don't Shoot</a></h1>

        </div>


    </div>

    <!-- END Header -->



    <div class="main" id="main">



      <div class="content">



        <!-- Content -->
        <div id="content" class="colM">








<div id="content-main">

<!--action="/admin/login/?next=/admin/" -->

<form action="" method="post" > <!--<input type="hidden" name="csrfmiddlewaretoken" value="vwNqOXPl2qOwekTTI5yojhIWPsFHMV2DInly2brNs92SBjikzp8ljN9QTSNI1qew">-->
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Play" >
<!--    <div class="form-row">-->

<!--    <label  class="required">Your name:</label> <input type="text" name="username"  maxlength="150" >-->
<!--  </div>-->
<!--  <div class="form-row">-->

<!--    <label  class="required">Your Email:</label> <input type="email" name="email" >-->
<!--    &lt;!&ndash;<input type="text" name="next" value="/admin/">&ndash;&gt;-->
<!--  </div>-->


<!--  <div class="submit-row">-->
<!--    <input type="submit" value="Play">-->
<!--  </div>-->
</form>

</div>


          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
